.pageHeader {
	position:absolute;
	width:100%;
	z-index:100;
	position:fixed; 
	background-color:white; 
	.large-12{
		padding:0;
	}
	.menubar {
		width: 100%;
	    margin:rem-calc(0 0 0 0);
	    list-style:none;
	    height:auto;
	    overflow: hidden;
	    box-shadow: rem-calc(1 1 3) darkgray;
	  
	    /* Background color and gradients */
	     
	    
	    // background: -moz-linear-gradient(top, $primary-color, darken($primary-color, 3%));
	    // background: -webkit-gradient(linear, 0% 0%, 0% 70%, from($primary-color), to(darken($primary-color, 3%)));
	     
	    /* Borders */
	     
	   /* border: 1px solid lightgray;*/

	    
	    li{
	        float: left;
	        display:block;
	        text-align:center;
	        position:relative;
	        margin-top:12px;
	        margin-bottom:17px;
	        /*border-right: 1px solid darken(lightgray, 7%);
	        border-left: 1px solid lighten(lightgray, 1%);*/
	        a{
	        	color:black;
	            padding-left:20px;
	            padding-right:20px;
	            padding-top: 20px;
	            padding-bottom:20px;
	            &:hover{
	                color:$primary-color;
	            }
	        }
	    }
	    li:first-child { border-left: none; }
	    li:last-child { border-right: none; }
	}
}

				

