conf/
tmp/
vendor/
^.htaccess
^.htpasswd
.DS_Store
git-daemon-export-ok
.idea/
composer
composer.lock
opsworks.php
content/
static/components
static/node_modules/
static/admin/components/
static/admin/node_modules/