<!doctype html>

<!–[if IE 7 ]> <html lang="en" class="ie7"> <![endif]–>
<!–[if IE 8 ]> <html lang="en" class="ie8"> <![endif]–>
<!-[if IE 9 ]><html class="lt-ie10" lang="en" ><![endif]->
<!–[if (gt IE 9)|!(IE)]><!–> <html lang="en"><!–<![endif]–>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />

    <meta property="og:title" content=""/>
    <meta property="og:image" content="../images/social.png"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>

    <!-- FAVICONS -->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000e25">
    <meta name="msapplication-TileImage" content="/static/images/favicon/mstile-144x144.png">
    <meta name="msapplication-TileImage" content="/static/images/favicon/mstile-150x150.png">
    <meta name="msapplication-TileImage" content="/static/images/favicon/mstile-310x150.png">
    <meta name="msapplication-TileImage" content="/static/images/favicon/mstile-310x310.png">

    <title>New project</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="/static/components/modernizr/modernizr.js"></script>
</head>

<body>

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <!-- Off Canvas Menu -->
            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </aside>

            <!-- pageHeader -->
            <div class="pageHeader"></div>

            <!-- pageContent -->
            <div class="pageContent">
                <div class="row">
                    <div class="small-4 columns">1</div>
                    <div class="small-4 columns">2</div>
                    <div class="small-4 columns">3</div>
                </div>
            </div>

            <!-- pageFooter -->
            <div class="pageFooter"></div>

            <!-- close the off-canvas menu -->
            <a class="exit-off-canvas">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>

    <!-- CDN / Libraries -->
    <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//dbilkmgtn0txr.cloudfront.net/v1.0/foundation/foundation.min.js"></script>

    <!-- DEV -->
    <script src="/static/js/init.js"></script>

    <!-- PRODUCTION -->
    <!-- <script src="/static/js/project.min.js"></script> -->

    </body>
</html>