.steps-center{
	margin-top:75px;
	display:block;
	.h3-steps{
		display:inline-block;
		float:left;
	}
	.steps{
		display:inline-block;
		float:left;
	}
}

#sticky-anchor {
	height:20px;
	margin-top:42px;
}
.stick {
    position: fixed;
    margin:rem-calc(20 0 0 0);
    top: 0;
    width:23%;
    max-width:rem-calc(288);
    float:right;
}